In [1]:
my_tuples=(1,"Hello",3.4) # tuples mixed datatype
print(my_tuples)

(1, 'Hello', 3.4)

In [2]:
my_tuples=("mouse",[8,4,6],[1,2,3]) # nested tuples
print(my_tuples)

('mouse', [8, 4, 6], [1, 2, 3])

In [5]:
my_tuples=3,4,6,"Apples" #tuples can also be created without using parentheses
print(my_tuples)       #this is also know as tuple packing

(3, 4, 6, 'Apples')

In [6]:
# concatenation
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [7]:
# repeat
print(("Repeat",)*3)

('Repeat', 'Repeat', 'Repeat')

In [11]:
my_tuple=('a','p','p','l','e',)
print(my_tuple.count('p'))   # output:2
print(my_tuple.index('l'))   # output:3

2
3

In [12]:
# set of integers
my_set={1,2,3}
print(my_set)

{1, 2, 3}

In [13]:
# set of mixed datatype
my_set={1.0,"Oye",(1,2,3)}
print(my_set)

{1.0, 'Oye', (1, 2, 3)}

In [14]:
# we can make set from a list
my_set=set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [15]:
# set cannot have duplicates
my_set={1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [17]:
my_set={1,2,[3,4]}

TypeError: unhashable type: 'list'

In [18]:
# initializ my set
my_set={1,3}
print(my_set)

{1, 3}

In [19]:
# add an element
my_set.add(2)
print(my_set)

{1, 2, 3}

In [20]:
# add multiple element
my_set.update([2,3,4])
print(my_set)

{1, 2, 3, 4}

In [21]:
# add list  and set
my_set.update([4,5],{1,6,8})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [22]:
# initialize my set
my_set={1,3,4,5,6}
print(my_set)

{1, 3, 4, 5, 6}

In [23]:
# discard  an element
my_set.discard(4)
print(my_set)

{1, 3, 5, 6}

In [24]:
# remove an element
my_set.remove(6)
print(my_set)

{1, 3, 5}

In [25]:
# pop a random item
my_set.pop()
print(my_set)

{3, 5}

In [26]:
# clear my set
my_set.clear()
print(my_set)

set()

In [27]:
A={1,2,3,4,5}
B={4,5,6,7,8}

In [28]:
# use | operater
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [29]:
# use union function
A.union(B)
{1,2,3,4,5,6,7,8}

{1, 2, 3, 4, 5, 6, 7, 8}

In [30]:
# use union function on B
B.union(A)
{1,2,3,4,5,6,7,8}

{1, 2, 3, 4, 5, 6, 7, 8}

set intersection

In [31]:
# use & operator
print(A&B)

{4, 5}

In [34]:
A.intersection(B)

{4, 5}

In [35]:
# use - operator on A 
print(A - B)

{1, 2, 3}

In [36]:
A.difference(B)

{1, 2, 3}

In [37]:
# set symmetric difference
# use ^ operator
print(A^B)

{1, 2, 3, 6, 7, 8}

In [38]:
# use symmetric_difference function on A
A.symmetric_difference(B)
{1,2,3,6,7,8}

{1, 2, 3, 6, 7, 8}

In [40]:
x=set()
for i in range(10):
    val=int(input('enter a number:'))
    x.add(val)
print(x)

{1, 2, 3, 4, 5, 6, 33, 44, 55}